<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165283625674-3mmfdo2p20uillglfc7f7lhdjuppsoht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165283625674-3mmfdo2p20uillglfc7f7lhdjuppsoht</string>
	<key>API_KEY</key>
	<string>AIzaSyCaJ8hPj4_a8_NSt7RU4MPwq5d7iCpBJvc</string>
	<key>GCM_SENDER_ID</key>
	<string>165283625674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nass---co.Auxilium</string>
	<key>PROJECT_ID</key>
	<string>auxilium-35d23</string>
	<key>STORAGE_BUCKET</key>
	<string>auxilium-35d23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165283625674:ios:82c1f39116d74cea789233</string>
	<key>DATABASE_URL</key>
	<string>https://auxilium-35d23.firebaseio.com</string>
</dict>
</plist>